/* here is the styling of our potfolio website */

/*
 
colors codes that i used 
orange color code #ff6347
darkblue color code #101014
darkblack color code #080808
white color code #efefef

*/

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #efefef;
  background-color: #080808;
}
.about{
  padding: 50px 0;
}
.about-right-content {
  display: inline-block;
  width: 45%;
}
.about-right-content p{
      margin-right: 160px;
}
.about-left-content{
  width: 45%;
  display: inline-block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.header-hero{
  background-image: url("../images/heroimg.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  }
#ul a{
  margin:0 25px ;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
    color: #efefef;
}

header h1{
  display: inline-block;
  margin-left: 35px;
}
.hero h1{
  font-size: 55px;
}
.btn1{
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 1px solid #efefef;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  color: #efefef;
}
.btn2{
  font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: 1px solid #ff6347;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    color: #ff6347;
}
.btn3{
  font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: 1px solid #ff6347;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    color: #ff6347;

}
.navbar , .navbar li{
  display: inline-block
}
.navbar{
      position: relative;
            right: -732px;
}
.work, .contact{
  background-color: #080808 ;
}
.about, .skills{
  background-color: #101014;
}
.contact{
  text-align: center;
}
.form{
  margin-left: 25%;
  text-align: start;
}
form input, form textarea{
  font-family: "Poppins", sans-serif;
  width: 75%;
  color: #6a6d66;
  border: 1px solid #efefef;
  background-color: transparent;
  border-radius: 15px;
}
form input{
  margin: 5px 0;
  height: 35px;
  color: #6a6d66;
}
.hero{
  margin-left: 35px;
  margin-top: 100px;
}
.skills{
  text-align: center;
  
}
header{
  position: sticky;
    top: 5px;
    z-index: 999;
}
.work{
  text-align: center;
  padding: 50px;
}
table{
  border: 1px solid;
  border-collapse: collapse;
  width: 75%;
  margin-left: 200px;
}
td, th{
  border: 1px solid;
  padding: 15px;
}
.prog1 , .prog2 , .prog3 , .prog4 , .prog5 {
  width: 25%;
  height: 35px;
  text-align: start;
  padding-top: 5px;
  padding-left: 5px;
}
 .prog1::before {
  content: 'Html';
}.prog2::before {
  content: 'Css';
}.prog3::before {
  content: 'Javascript';
}.prog4::before {
  content: 'React';
}.prog5::before {
  content: 'Nodejs';
}


footer{
  text-align: center;
}
footer img{
  width: 40px;
  height: 40px;
  margin-left:10px;
  margin-top: 20px;
}
footer a{
  color: #ff6347;
}